@import './common-styles/color.less';
@import './common-styles/responsive.less';
@font-face {
  font-family: 'Xihei';
  src: url('./assets/fonts/DMFT1506077116334.ttf');
}
* {
  transition: all ease 0.4s;
  font-family: 'Xihei';
}

div {
  box-sizing: border-box;
}

body {
  background-color: @background-color;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  max-width: 80rem;
  padding: 1rem 2.5rem;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  @media(max-width: @sm) {
      flex-direction: column;
      padding-top: 5rem;
  }
  .main-content {
    flex: 0.625;
  }
  .rail-content {
    flex: 0.33;
    position: sticky;
    top: 0px;
    height: fit-content;
  }
}

p,
div,
span {
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5 {
  color: @primary-color;
  font-weight: normal;
  margin-top: 0.5rem;
}

a {
  color: @primary-color;
  text-decoration: none;
  &:hover {
    color: @active-color;
  }
}

hr {
  background-color: #8a8a8a;
  width: 100%;
  height: 1px;
  content: ' ';
  border: none;
}

.fade-in {
  opacity: 0;
  &.animating {
    transition: opacity 500ms ease-in;
    opacity: 1
  }
}

.fade-out {
  opacity: 1;
  &.animating {
    transition: opacity 500ms ease-out;
    opacity: 0;
  }
}

article {
  line-height: 1.5rem;
  pre {
    background-color: lightgray;
    border-radius: 10px;
    padding: 0.5rem;
  }
  code {
    background-color: lightgray;
    padding: 0.2rem;
    border-radius: 10px;
  }
  img {
    width: 100%;
  }
  ul {
    padding-left: 1rem;
    margin: 0.5rem 0;

  }
  p{
    margin: 1rem 0 0 0;
  }
}