@import './common-styles/color.less';
@import './common-styles/responsive.less';
@font-face {
  font-family: 'Xihei';
  src: url('./assets/fonts/DMFT1506077116334.ttf');
}

* {
  transition: all ease 0.4s;
  font-family: 'Xihei';
}

div {
  box-sizing: border-box;
}

body {
  background-color: @background-color;
  margin: 0;
  padding: 0;
}

.fetching-trigger{
  padding: 0.5rem 0;
  text-align: center;
  margin-top: .5rem;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  &:hover{
    background-color: #ddd;
  }
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3rem 0;
  .icon-loading {
    font-size: 4rem;
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    color: lightgray;
    animation: rotate 1s linear infinite;
  }
}

.content-wrapper {
  max-width: 80rem;
  padding: 1rem 2.5rem;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  .main-content {
    flex: 0.625;
  }
  .rail-content {
    flex: 0.33;
    position: sticky;
    top: 0px;
    height: fit-content;
  }
  @media(max-width: @sm) {
    flex-direction: column-reverse;
    padding-top: 5rem;
    .rail-content {
      position: relative;
    }
  }
}

p,
div,
span {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  color: @primary-color;
  font-weight: normal;
  margin-top: 0.5rem;
}

a {
  color: @primary-color;
  text-decoration: none;
  &:hover {
    color: @active-color;
  }
}

hr {
  background-color: #8a8a8a;
  width: 100%;
  height: 1px;
  content: ' ';
  border: none;
}

.fade-in {
  opacity: 0;
  &.animating {
    transition: opacity 500ms ease-in;
    opacity: 1
  }
}

.fade-out {
  opacity: 1;
  &.animating {
    transition: opacity 500ms ease-out;
    opacity: 0;
  }
}
span.tag {
  border-radius: 5px;
  background-color: lighten(@primary-color, 20%);
  a{
    padding: 0.15rem 0.3rem;
    color: white;
    display: inline-block;
  }
  margin: 0.1rem;
}
article {
  line-height: 1.5rem;
  pre {
    background-color: lightgray;
    border-radius: 10px;
    padding: 0.5rem;
    max-width: 30rem;
    white-space: pre-wrap;
    box-sizing: border-box;
  }
  code {
    background-color: lightgray;
    padding: 0.2rem;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  img {
    width: 100%;
  }
  ul {
    padding-left: 1rem;
    margin: 0.5rem 0;
  }
  p {
    margin: 1rem 0 0 0;
  }
}