@import './common-styles/color.less';
@font-face {
  font-family: 'MFNianzhen';
  font-weight: normal;
  src: url('./assets/fonts/MFNianZhen-Noncommercial-Regular.woff');
}

@font-face {
  font-family: 'MFKeSong';
  font-weight: normal;
  src: url('./assets/fonts/MFKeSong_Noncommercial-Regular.woff');
}

* {
  transition: all ease 0.4s;
  font-family: 'MFNianzhen';
}

div {
  box-sizing: border-box;
}

body {
  background-color: @background-color;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  max-width: 80rem;
  padding: 1rem 2.5rem;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  .main-content {
    flex: 0.625;
  }
  .rail-content {
    flex: 0.33;
    position: sticky;
    top: 0px;
    height: fit-content;
  }
}

p,
div,
span {
  font-size: 1.3rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5 {
  color: @primary-color;
  font-weight: normal;
  margin-top: 0.5rem;
}

a {
  color: @primary-color;
  text-decoration: none;
  &:hover {
    color: @active-color;
  }
}

hr {
  background-color: #8a8a8a;
  width: 100%;
  height: 1px;
  content: ' ';
  border: none;
}

.fade-in {
  opacity: 0;
  &.animating {
    transition: opacity 500ms ease-in;
    opacity: 1
  }
}

.fade-out {
  opacity: 1;
  &.animating {
    transition: opacity 500ms ease-out;
    opacity: 0;
  }
}

.article {
  img {
    width: 100%;
  }
}